* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-height: 90vh;
    background-color: rgb(203, 52, 70);
    color: white;
    
}

.donatebutton {
    margin-right: 10px;
    background-color: rgb(203, 52, 70);
    color: rgb(234, 234, 234);
    font-size: 20px;

}

table thead tr td {
    font-size: large;
    font-weight: 600;
}

#donationform {

 
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

#donationform button {
    padding: 8px 16px;
   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.296);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

  }

  #donationform button:hover{
    background-color: rgb(160, 83, 83);
  }
  
 

#donationform label {
   
    margin-bottom: 8px;
    font-weight: bold;
}

.table {
    width: 80vw;
    margin-left: 10%;
    height: 55vh;
}

